/* GENERAL */

html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-size: 13px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.flex {
    display: flex;
    align-items: center;
}

.container {
    background-color: hsl(210, 46%, 95%);
    padding: 70px 24px;
}

section {
    border-radius: 8px;
    padding: 20px 30px;
    margin-bottom: 24px;
}

.first-section {
    background-color: hsl(263, 55%, 52%);
    background-image: url(/images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-position-x: 200px;
}

.second-section {
    background-color: hsl(217, 19%, 35%);
}

.third-section {
    background-color: hsl(0, 0%, 100%);
}

.fourth-section {
    background-color: hsl(219, 29%, 14%);
}

.fifth-section {
    background-color: hsl(0, 0%, 100%);
    margin-bottom: 0;
}

.personal-info img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 15px;
}

.border-image {
    border: 2px solid hsl(0, 0%, 81%, 0.5);
}

.personal-info h2 {
    margin: 0;
    font-size: 13px;
    color: hsl(0, 0%, 81%);
}

.personal-info h3 {
    margin: 0;
    font-size: 11px;
    color: hsl(0, 0%, 81%, 0.5);
}

h1 {
    font-size: 19px;
    color: hsl(0, 0%, 100%);
    letter-spacing: 0.55px;
    font-weight: 600;
}

p {
    color: hsl(0, 0%, 81%, 0.7);
    line-height: 18px;
}

.first-section p {
    margin-right: 19px;
}

/* LIGHT SECTIONS */
.light h1 {
    color: hsl(217, 19%, 35%);
}

.light h2 {
    color: hsl(217, 19%, 35%);
}

.light h3 {
    color: hsl(217, 19%, 35%, 0.5);
}

.light p {
    color: hsl(217, 19%, 35%, 0.7);
}

/* MIXINS */
@media (min-width: 750px) {
    .container {
        padding: 70px 200px;
    }
}

@media (min-width: 1125px) {
    .container {
        display: grid;
        padding: 50px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 282px 267px;
        grid-gap: 30px 23px;
    }

    section {
        margin-bottom: 0;
    }

    .first-section {
        grid-column: 1 / span 2;
    }

    .fourth-section {
        grid-column: 2 / span 2;
    }

    .fifth-section {
        grid-row: 1 / span 2;
        grid-column: 4 / 5;
    }
}

@media (min-width: 1300px) {
    .container {
        padding: 165px;
    }
    .first-section {
        background-position-x: 400px;
    }
}